{% extends 'base.html.twig' %}

{% block title 'Ajouter ' %}

{% block body %}




<div class="formulaire">
  <h3>Créer un sujet </h3>
  <form action="{{ path('subject_add') }}" method="POST" novalidate="novalidate">
    {{ form_widget(createSubjectForm) }}

    <button type="submit">Publier </button>
    </form>
</div>
{% endblock %}
